.navbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 5px;
}

.card_header {
    background-color: #f0f0f02d;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

.card {
    background-color: #f0f0f03e;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
  }
  
  .container {
    padding: 20px;
  }
  
  .header {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .refetchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(23, 124, 218);
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(15, 7, 255, 0.749);
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgb(23, 98, 218);
    margin-bottom: 20px;
  }
/* 
  .refetchButton:hover {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(88, 162, 232);
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(15, 7, 255, 0.749);
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgb(23, 98, 218);
    margin-bottom: 20px;
  } */

  @media (hover: hover) {
    .refetchButton:hover {
      background-color: rgb(88, 162, 232);
      box-shadow: 0 2px 4px rgb(23, 98, 218);
    }
  }
  
  /* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
  } */
  
  .tableWrapper {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .searchInput {
    flex: 1;
    min-width: 200px;
  }
  
  .table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .tableRow {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tableRow:hover {
    background-color: #f5f5f5;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination p {
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .pageButtons {
    display: flex;
    gap: 10px;
  }
  
  .pageButtons button {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .pageButtons button:hover {
    background-color: #0070f3;
    color: white;
  }
  
  .pageButtons button.active {
    background-color: #0070f3;
    color: white;
  }


  .filterControls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .user {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #cdcdcd;
    color: black;
  }
  
  .user p {
    margin: 5px 0;
  }

  .link {
    display: block;
    margin-top: 20px;
    color: #0070f3;
    text-decoration: underline;
  }
  
  .deleteButton {
    background-color: #ff4d4f;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: #d9363e;
  }

  .imageGallery {
    padding: 20px;
    background-color: #282a2d;
    border-radius: 8px;
  }
  
  .imageGrid {
    margin-top: 10px;
    padding: 10px;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background: #18191B;
  }
  
  .imageCard {
    background-color: #f0f0f03e;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures no overflow of content */
  }
  
  .imageCard img {
    width: 100%; /* Makes the image take up the full width of its container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes any bottom space that might appear under images */
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .imageGrid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (min-width: 1025px) {
    .imageGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1600px) {
    .imageGrid {
      grid-template-columns: repeat(5, 1fr);
    }
  }


.image__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999999;
    background: rgba(0, 0, 0, .5);
    transition: .13s ease-in-out;
}

.image__overlay .hidden{
  display: none; 
}

.image__modal {
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
  padding: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* border: 2px solid red; */
}

.image_modal__inner {
  position: absolute;
  top: 0;
  flex-shrink: 0;
  border-radius: 6px;
  max-width: 70vw;
  padding: 24px;
  display: flex;
  justify-content: center;
  gap: 24px;
  background: #18191B;
  /* border: 2px solid red; */
}

@media only screen and (max-width: 800px) {
  .image_modal__inner {
      max-width: 90vw;
  }
}

.searchContainer {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.galleryTabs {
  margin: 20px 0;
}

.galleryImageButtons {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ImageButtonsBar {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pageButton, .prevNextButton {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #333;
}

.pageButton:hover, .prevNextButton:hover {
  background-color: #e0e0e0;
}

.activePage {
  background-color: gray;
  color: white;
}

.prevNextButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.ellipsis {
  padding: 5px;
  font-size: 16px;
  color: #888;
}